@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
body{
	background-color:#E7E7EE;
	min-height: 1000px;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 90px;
	padding: 10px;
	/*background-color: powderblue;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
	position: fixed;
	z-index: 100;
}
.shadow{
	background-color:#E7E7EE;
	box-shadow: 0px 5px 5px #999999;
	transition-duration: 0.05s;
	transition-timing-function: linear;
	transition-property: all;
}
.shadowrv{
	box-shadow: 0px 0px 0px #999999;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	transition-property: all;
}
img{
	height: 60px;
	width: 60px;
}
ul{
	
	list-style: none;
	display: inline-flex;
	width: 35%;
	justify-content: space-between;
	margin-right: -70px;
}
ul li{
	/*display: inline-block;*/
	font-family: 'Cairo', sans-serif;
	font-size: 20px;
	padding: 4px;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
	transition-property: all;
}
li:hover{
	/*border-left: 3px solid black;
	border-right: 3px solid black;*/
	border: 2px solid black;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	transform: scale(1.2);
}
a{
	text-decoration: none;
	color: inherit;
}
aside{
	margin: 0px auto;
	margin-bottom: 100px;
	text-align: center;
	height: 532px;
	width: 100%;
	/*background-color: #CCCCCC;*/	
	padding-top: 150px;
}

aside div img{
	height: 450px;
	width: 319px;
	line-height: 530px;
	box-shadow: 10px 5px 5px #855433;
	
}
aside div{
	position: relative;
}
aside div::before{
	content: "عبدالحفيظ بوصوف";
	position: absolute;
	top: 342px;
	color: black;
	font-size: 60px;
	font-family: 'Alkalami', serif;
	font-weight: 900;
	left: 200px;
	letter-spacing: 4px;
}
main{
	width: 90%;
	margin: 200px auto;
	margin-right: 10%;
	font-family: 'Cairo', sans-serif;
}
main div{
	margin-bottom: 50px;
}

main p{
	font-size: 19px;
}
.float2{
	float: right;
}
p.float2{
	width: 80%;
}
div.float2{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 20%;
	position: relative;
}
div.float2 img{
	align-self: center;
	justify-self: center;
}

div.float2:after{
	content: url('img/moi.jpg');
	position: absolute;
	left: -150px;
}

.clear{
	clear: both;
}
main div:last-child{
	margin: auto 20% auto 30%;
}

main div:last-child iframe{
	opacity: 0.5;
}
/*main div:last-child iframe{
	opacity: 1;
}*/



@media(max-width: 667px){
	aside div::before{
		left: 100px;
		letter-spacing: 4px;
		font-size: 40px;
}
}
@media(max-width: 436px){
	aside div::before{
		left: 50px;
		letter-spacing: 4px;
		font-size: 30px;
}
}
